/* ---------- GLOBAL ---------- */
html,body,[class*="css"] {
    background: #F2EDFF;
    font-family: "Inter", sans-serif;
}

/* Remove Streamlit default padding */
div.block-container {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Fix header overlap*/
header[data-testid="stHeader"]{
height: 0rem;
}

/* ---------- SIDEBAR ---------- */
section[data-testid="stSidebar"]>div {
    background: #5B4FD6;
    padding-top: 2rem;
}
/*----------Remove white gap at sidebar top-----------*/
section[data-testid="stSidebar"] {
    background: #5B4FD6;
    padding-top: 2rem;
}
/*-----------Sidebar Text Color-----------*/
section[data-testid="stSidebar"]{
    color: white;
}

section[data-testid="stSidebar"] h1,
section[data-testid="stSidebar"] h2,
section[data-testid="stSidebar"] h3,
section[data-testid="stSidebar"] label,
section[data-testid="stSidebar"] p,
section[data-testid="stSidebar"] span:not([class*="stSelectBox"]){
    color: white;
}

section[data-testid="stSidebar"].stSelectbox*{
    color: #1a1a1a;
}

/* ---------- TOP BAR ---------- */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #8f7cf3, #a996ff);
    padding: 20px 30px;
    border-radius: 30px;
    color: white;
    margin-bottom: 30px;
    box-shadow: 0 8px 25px rgba(76,61,189,0.25);
}

/* ---------- PROFILE ---------- */
.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile span {
    font-size: 14px;
    opacity: 0.9;
}

/* ---------- CARDS ---------- */
.card {
    padding: 20px;
    border-radius: 24px;
    background: white;
    box-shadow: 0 12px 35px rgba(0,0,0,0.08);
}

.card-content {
    background: #F4F6FB;
    padding: 18px;
    border-radius: 18px;
    width: 100%;
}

.card-content h4{
    margin-bottom: 15px;
}



/* Color accents like reference (Gradient effects for cards)*/
.blue {
    background: linear-gradient(135deg, #eef3ff, #e8ecFF);
}

.orange {
    background: linear-gradient(135deg, #fff3e0, #ffe8cc);
}

.green {
    background: linear-gradient(135deg, #e8f5e9, #dff7e5);
}

.red{
    background: linear-gradient(135deg, #fdecea, #f9d6d5) ;
}

/* ---------- CHART CARDS ---------- */
.chart-card {
    background: #f5f5f5;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    width: 100%;
    box-sizing: border-box;
}


/* ---------- SUMMARY ---------- */
.summary {
    background: white;
    padding: 26px;
    border-radius: 24px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

/*---------Streamlit container card ----------*/
section.main>div>div>div>div{
    background: #F4F6FB;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    margin-bottom: 20px;
}